.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin-left: auto;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: 2F2F37;
}
@media screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
    padding: 96px 108px;
  } */

  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;

    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;

    content: '';
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-container {
    min-width: 1158px;
  }
  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 320px;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-right: 0;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link-mob-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.link-nav-mob-menu.mob {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.link-nav-mob-menu {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobil-list-adress {
  margin-bottom: 48px;
}
.list-adress-mob-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
  font-style: normal;
}
.list-adr-mob.mob-tel {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.list-adr-mob {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.soc-link {
  display: flex;
  gap: 40px;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* hero */
.hero {
  max-width: 320px;
  background-color: #2e2f42;

  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.11;

    max-width: 496px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-widht: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
  }
}
/* section 1 */
/* .container.feature-container {
  max-width: 288px;
  margin: 0 auto;
} */
.section-feature {
  padding-top: 96px;
  padding-bottom: 96px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;

  width: 100%;
}
.feature-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 8px; */
  /* max-width: 288px; */
}

.feature-item-icon-wrapper {
  display: none;
}
.feature-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
}
.feature-item-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 100%;
  /* text-align: justify; */
}
@media screen and (min-width: 768px) {
  .container.feature-container {
    max-width: 766px;
  }
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
  .feature-item-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .container.feature-container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .feature.section-feature {
    padding: 120px 0;
  }
  .feature-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
  }
  .feature-item {
    width: calc((100% - 72px) / 4);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .section-feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .feature-item-icon {
    margin: 24px 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .feature-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .feature-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .feature-item-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .feature-item-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    /* padding: 40px; */
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}
/* section 2 */
.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.clas-titel {
  margin-left: auto;
  margin-right: auto;
}
.section-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  gap: 72px;
  align-items: center;
}
.team-item {
  min-width: 264px;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .team-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-list-container {
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 264px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 232px;
  margin-top: 8px;

  margin-right: auto;
  margin-left: auto;
  gap: 24px;
  flex-direction: row;
  border-radius: 50%;
}
.social-list-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.social-list-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .section-team {
    /* padding: 96px 108px; */
    width: 100%;
  }
  .team-container {
    padding: 0 108px;
  }
  .container {
    max-width: 768px;
    /* padding-left: 108px;
    padding-right: 108px; */
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    max-width: 552px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .team-list {
    max-width: 1158px;
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}
/* portfolio */
.portfolio.section-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-titel.clas-titel {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.portfolio-item {
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
/* .portfolio-overlay-wrapper {
  width: 288px;
} */
.portfolio-overlay-text {
  display: none;
}
.portfolio-item-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  /* width: 288px; */
}
.portfolio-item-content {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-content-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio.section-portfolio {
    width: 100%;
  }
  .container.portfolio-container {
    min-width: 736px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 736px; */
    gap: 72px 24px;
  }
  .portfolio-item {
    /* max-width: 356px; */
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio.section-portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container.portfolio-container {
    min-width: 1128px;
  }
  .portfolio-overlay-wrapper {
    position: relative;
    overflow: hidden;
  }

  .portfolio-overlay-text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    cursor: pointer;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
  }
  .portfolio-list {
    max-width: 1128px;
    gap: 48px 24px;
  }
  /* .portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  } */

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-overlay-text:hover {
    transform: translateY(0%);
  }
  .portfolio-item-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
  }

  .portfolio-item-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio-item-content-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* footer */
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.container.footer-social-media {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  gap: 72px;
  /* max-width: 288px; */
}
.footer-logo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-bottom: 16px;
  text-align: center;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-medai-content {
  fill: #f4f4fd;
}
.page-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}
.footer-medai-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.media-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list-link:hover,
.media-list-link:focus {
  background-color: #31d0aa;
}
.footer-social-media {
  display: flex;

  align-items: baseline;
}

.media-list-item {
  height: 40px;
  width: 40px;
}
.footer-email {
  /* margin-bottom: 96px; */
  /* max-width: 288px; */
  text-align: center;
}
.footer-email-text {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.footer-content-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: #2e2f42;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  opacity: 0.3;
  font-size: 12px;
  padding: 8px 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-content-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 16px;
}
.footer-content-input:focus {
  border-color: #31d0aa;
  outline: none;
}
.footer-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  margin-top: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover {
  background-color: #31d0aa;
}

.footer-icon {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-content-input {
    max-width: 264px;
  }
  .container.footer-social-media {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* max-width: 584px; */
    gap: 72px 24px;
    /* margin-top: 96px; */
    padding: 0 108px;
  }
  .logo.footer-logo {
    text-align: left;
  }
  .footer-logo-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .page-footer-text {
    max-width: 264px;
    margin-bottom: 0;
  }
  .footer-text {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    /* padding-bottom: 16px; */
  }
  .media-list {
    margin-bottom: 0;
  }
  .footer-medai-content {
    justify-content: start;
  }

  .footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 24px;
    /* width: 453px;
    height: 80px; */
  }
  .footer-email-text {
    display: flex;
    justify-content: flex-start;
    /* width: 453px; */
  }
  .footer-btn {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .container {
    max-width: 1158px;
    /* padding: 100px 15px; */
    margin-left: auto;
    margin-right: auto;
  }
  .container.footer-social-media {
    display: flex;
    align-items: baseline;
    max-width: 1158px;
    /* padding: 0 15px;
    margin-left: auto;
    margin-right: auto; */
    padding: 0 15px;
    gap: 0;
  }

  .logo.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    justify-content: flex-start;
    text-align: left;
  }
  .footer-logo-content {
    margin-right: 120px;
  }

  .footer-logo {
    text-align: left;
  }

  .page-footer-text {
    text-align: left;
    max-width: 264px;
  }
  .footer-email {
    margin-left: 80px;
  }
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 4px;
  width: 256px;

  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  padding: 72px 16px 16px;
  margin-bottom: 16px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}
.modal-close-icon {
  fill: #2e2f42;
  margin-left: auto;
  margin-right: auto;
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #ffffff;
}
.modal-close-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-text {
  margin-bottom: 16px;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}
.modal-slogan {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-contacts-label {
  font-size: 12px;
  display: block;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-contacts-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  font-weight: 400;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
}

.modal-contacts-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-contacts-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-wrapper {
  margin-bottom: 8px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: #ffffff;
}
.model-icon-wrapper {
  position: relative;
}
.checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts-text {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  height: 120px;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-contacts-text::placeholder {
  color: #2e2f42;
}
.modal-contacts-text:focus {
  outline: none;
  border-color: #4d5ae5;
}
.checkbox-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:focus + .checkbox-label > .checkbox-custom {
  border: 1px solid #404bbf;
}

.form-checkbox:checked + .checkbox-label > .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-label {
  font-size: 12px;

  align-items: center;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.accent-color {
  color: #4d5ae5;
}
.checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus,
.modal-button:hover {
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-icon:focus {
  fill: #ffffff;
}

.modal-close-icon:focus,
.modal-close-icon:hover {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;

    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
/* --- */
